@using MyEverNote.Entities

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/shop-homepage.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" data-auto-replace-svg="nest"></script>
    <!-- Bootstrap core JavaScript -->
</head>
<body>

    @{ 
        EvernoteUser user = null;

        if (Session["login"] !=null)
        {
            user = Session["login"] as EvernoteUser;
        }

       }


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="~/index.html">My Evernote </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                    </li>
                    @if (user != null)
                    {
                        <li class="dropdown">

                        <a href="/Note/MyNotes" class="dropdown-toggle nav-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-allergies"></i> Yönetim <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Note/AddNew">
                                    <i class="fas fa-plus"></i>
                                    Not Ekle
                                </a>
                            </li>
                            <li role="separator" class="dropdown-divider"></li>
                            <li>
                                <a href="/Note/MyNotes">
                                    <i class="fas fa-money-check"></i>
                                    Notlarım
                                </a>
                            </li>

                            <li>
                                <a href="/Note/MyLikedNotes">
                                    <i class="fas fa-heart"></i>>
                                    Beğendiklerim
                                </a>
                            </li>
                            <li role="separator" class="dropdown-divider"></li>

                            @if (user.IsAdmin)
                            {
                                <li>
                                    <a href="/Category/Create">
                                        <i class="fas fa-plus"></i>
                                        Kategori Ekle
                                    </a>
                                </li>

                                <li>
                                    <a href="/Category/Index">
                                        <i class="fas fa-list"></i>
                                        Kategoriler
                                    </a>
                                </li>

                                <li role="separator" class="dropdown-divider"></li>
                                <li>
                                    <a href="/EvernoteUser/Create">
                                        <i class="fas fa-plus"></i>
                                        Kullanıcı Ekle
                                    </a>
                                </li>
                                <li>
                                    <a href="/EvernoteUser/Index">
                                        <i class="fas fa-list"></i>
                                        Kullanıcılar
                                    </a>
                                </li>
                            }
                        </ul>
                            </li>

                        }


                            <li class="nav-item">
                                <a class="nav-link" href="/Home/MostLiked">
                                    <i class="fas fa-thumbs-up"></i>
                                    En Beğenilenler
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Index">
                                    <i class="fas fa-list"></i>
                                    Son Yazılanlar
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/About">
                                    <i class="fas fa-info-circle"></i>
                                    Hakkımızda


                                </a>
                            </li>
                        </ul>

                            <ul class="navbar-nav ml-auto">
                                @if (user == null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Home/Login">

                                            <i class="fas fa-user"></i>
                                            Giriş
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Home/Register">
                                            <i class="fas fa-sign-in-alt"></i>
                                            Kayıt Ol
                                        </a>
                                    </li>
                                }
                                else
                                {
                                <li class="dropdown">
                                    <a href="/Home/ShowProfile" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-user"></i>@user.Username
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Home/ShowProfile">  <i class="fas fa-user"></i> Profili Göster</a></li>
                                        <li><a href="/Home/EditProfile">  <i class="fas fa-edit"></i> Profili Düzenle</a></li>
                                        <li><a href="/Home/DeleteProfile" onclick="return confirm('Hesabınızı silmek istediğinizden emin misiniz');">
                                       <i class="fas fa-trash"></i> Profili Sil</a></li>
                                    </ul>

                                </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/Home/Logout">

                                            <i class="fas fa-log-out"></i>
                                            Çıkış
                                        </a>
                                    </li>

                                }
                            </ul>


</div>
        </div>
    </nav>


    @RenderBody()
    <!-- /.container -->
    <!-- Footer -->
    @RenderSection("footer",required:false)

</body>
</html>
