
@{
    ViewBag.Title = "About";
}


<div class="container">
    <div class="row">
        <div class="col-lg-3">
            @*KAtegoriler*@
            @Html.Partial("_PartialCategory")
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-7">


            <!--Notlar-->
            <div class="row">
                <h2 class="text-center">
                    Amet, consectetur adipiscing elit.
                </h2>
                <hr />
                <img src="http://placehold.it/500x200" class="center-blog img-rounded img-responsive img-thumbnail" alt="Alternate Text" />
                <hr />
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, aperiam, suscipit. Molestias consectetur, modi itaque et, sed, culpa non similique nihil ex est reiciendis. Enim sunt mollitia reiciendis aut cupiditate unde, aspernatur deleniti iusto sed.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, aperiam, suscipit. Molestias consectetur, modi itaque et, sed, culpa non similique nihil ex est reiciendis. Enim sunt mollitia reiciendis aut cupiditate unde, aspernatur deleniti iusto sed.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, aperiam, suscipit. Molestias consectetur, modi itaque et, sed, culpa non similique nihil ex est reiciendis. Enim sunt mollitia reiciendis aut cupiditate unde, aspernatur deleniti iusto sed.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, aperiam, suscipit. Molestias consectetur, modi itaque et, sed, culpa non similique nihil ex est reiciendis. Enim sunt mollitia reiciendis aut cupiditate unde, aspernatur deleniti iusto sed.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, aperiam, suscipit. Molestias consectetur, modi itaque et, sed, culpa non similique nihil ex est reiciendis. Enim sunt mollitia reiciendis aut cupiditate unde, aspernatur deleniti iusto sed.</p>


            </div>
        </div>
    </div>
</div>

@section footer{
    @Html.Partial("_PartialFooter")
}